@font-face {
    font-family: 'the_donaldyuge';
    src: url('fonts/thedonald-v5no-webfont.woff2') format('woff2'),
         url('fonts/thedonald-v5no-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*font-family: 'the_donaldyuge';*/

@font-face {
    font-family: 'eurostylenormal';
    src: url('fonts/eurostyle_normal-webfont.woff2') format('woff2'),
         url('fonts/eurostyle_normal-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*font-family: 'eurostylenormal';*/

@font-face {
    font-family: 'hhhbold';
    src: url('fonts/icaorwyid-webfont.woff2') format('woff2'),
         url('fonts/icaorwyid-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*font-family: 'hhhbold';*/

@font-face {
    font-family: 'puristamedium';
    src: url('fonts/purista_medium-webfont.woff2') format('woff2'),
         url('fonts/purista_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*font-family: 'puristamedium';*/

@font-face {
    font-family: 'puristasemibold';
    src: url('fonts/purista_semibold-webfont.woff2') format('woff2'),
         url('fonts/purista_semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*font-family: 'puristasemibold';*/

@font-face {
    font-family: 'puristabold';
    src: url('fonts/purista_bold-webfont.woff2') format('woff2'),
         url('fonts/purista_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*font-family: 'puristabold';*/

body {
    background-color: #f2f2f2;
    background-size: cover;
    height: 100vw;
    overflow-x: hidden;
    margin: 0;
}

.header {
    position: fixed;
    width: 100vw;
    height: 5vw;
    background-image: linear-gradient(to right, white, orangered);
    top: 0vw;
    left: 0vw;
    font-family: 'the_donaldyuge';
    z-index: 100;
    box-shadow: 0vw 0.25vw 1vw black
}

a {
    text-decoration: none;
    color: black;
}

.logo-text1 {
    position: absolute;
    top: 0.15vw;
    left: 1vw;
    font-size: 1.5vw;
    background: -webkit-linear-gradient(black, #474747);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: italic;
}

.logo-text2 {
    position: absolute;
    top: 1.65vw;
    left: 1vw;
    font-size: 1.5vw;
    background: -webkit-linear-gradient(black, #474747);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo-text3 {
    position: absolute;
    top: 1vw;
    left: 8.25vw;
    font-size: 2vw;
    background: -webkit-linear-gradient(orangered, #ff8300);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'hhhbold';
    display: flex;
    letter-spacing: -0.5vw;
    -webkit-text-stroke: 1px black;
}

#dot {
    display: flex;
    font-size: 0.92vw;
    font-family: 'the_donaldyuge';
    letter-spacing: 0.1vw;
    -webkit-text-stroke: 0.5px black;
}

.header-link1 {
    background: -webkit-linear-gradient(black, #474747);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5vw;
    position: absolute;
    top: 0.75vw;
    left: 59.5vw;
}

.header-link1:hover {
    text-decoration: underline;
    text-decoration-color: black;
}

.header-link2 {
    background: -webkit-linear-gradient(black, #474747);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5vw;
    position: absolute;
    top: 0.75vw;
    left: 71.5vw;
}

.header-link2:hover {
    text-decoration: underline;
    text-decoration-color: black;
}

.header-link3 {
    background: -webkit-linear-gradient(black, #474747);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5vw;
    position: absolute;
    top: 0.75vw;
    left: 80vw;
}

.header-link3:hover {
    text-decoration: underline;
    text-decoration-color: black;
}

.header-link4 {
    background: -webkit-linear-gradient(black, #474747);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5vw;
    position: absolute;
    top: 0.75vw;
    left: 90.5vw;
}

.header-link4:hover {
    text-decoration: underline;
    text-decoration-color: black;
}

/* width */
::-webkit-scrollbar {
    width: 0.5vw;
}

/* Track */
::-webkit-scrollbar-track {
    background: #474747;
    border: 1px solid black;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: orangered;
    border: 1px solid black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ff8300;
}

#background1 {
    width: 100vw;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 5vw;
    width: 100vw;
    height: 45vw;
    object-fit: cover;
    box-shadow: -0.3vw 0.5vw 0.5vw black;
    z-index: 10;
}

#weapons-container1 {
    position: absolute;
    top: 50vw;
    left: 0vw;
    background-image: linear-gradient(to right, gray, gray,  #474747);
    width: 100vw;
    height: 6vw;
    z-index: 1;
}

#weapons-container2 {
    position: absolute;
    top: 56vw;
    left: 0vw;
    background-image: linear-gradient(to right, gray, gray,  #474747);
    width: 100vw;
    height: 6vw;
    z-index: 1;
}

#weapons-container3 {
    position: absolute;
    top: 62vw;
    left: 0vw;
    background-image: linear-gradient(to right, gray, gray,  #474747);
    width: 100vw;
    height: 6vw;
    z-index: 1;
    border-bottom: 1px solid black;
}

#weapons-text-container {
    width: 20vw;
    height: 12vw;
    position: absolute;
    top: 50vw;
    left: 2vw;
    background-color: gray;
    z-index: 2;
    opacity: 90%;
}

#weapons-text {
    color: black;
    font-family: 'the_donaldyuge';
    font-size: 1.75vw;
    padding: 1.5vw;
    padding-top: 2vw
}

#wealth-container {
    position: absolute;
    top: 65vw;
    left: 0vw;
}

#atm-bg {
    width: 100vw;
    height: 31vw;
    position: absolute;
    top: 0vw;
    left: 0vw;
    z-index: 4;
}

#cash {
    color: #37ff00;
    position: absolute;
    top: 14.5vw;
    left: 39vw;
    font-size: 2.25vw;
    font-family: 'purista';
    transform: scaleY(120%) skew(5deg);
    z-index: 5;
}

#cash-text {
    color: white;
    background-color: black;
    position: absolute;
    top: 21vw;
    left: 2vw;
    width: 18vw;
    height: 8vw;
    font-family: 'the_donaldyuge';
    padding: 1vw;
    font-size: 1.5vw;
    opacity: 75%;
    z-index: 5;
}

#power-bg {
    width: 100vw;
    height: 45vw;
    position: fixed;
    top: 5vw;
    left: 0vw;
}

#power-text {
    color: white;
    background-color: black;
    position: fixed;
    top: 5vw;
    left: 2vw;
    width: 20vw;
    height: 9vw;
    font-family: 'the_donaldyuge';
    padding: 1vw;
    font-size: 1.5vw;
    opacity: 75%;
}

#join-message {
    color: white;
    font-family: 'the_donaldyuge';
    font-size: 3.5vw;
    position: fixed;
    text-align: center;
    top: 20vw;
    width: 100%;
    user-select: none;
    visibility: hidden;
    opacity: 0%;
}

#click-here {
    color: white;
    font-family: 'the_donaldyuge';
    font-size: 1.5vw;
    position: fixed;
    text-align: center;
    top: 24vw;
    left: 40vw;
    text-decoration: none;
    text-decoration-color: transparent;
    user-select: none;
    visibility: hidden;
    opacity: 0%;
}

#click-here:hover {
    text-decoration: underline;
    text-decoration-color: white;
    transition: 1.5s;
}












/* Footer Below */

#footer {
    background-image: linear-gradient(to right, white, orangered);
    width: 100vw;
    height: 15vw;
    position: absolute;
    top: 150vw;
    left: 0vw;
    font-family: 'the_donaldyuge';
    border-top: 1px solid black;
}

.logo-text1-2 {
    position: absolute;
    top: 1.5vw;
    left: 2.5vw;
    font-size: 1vw;
    background: -webkit-linear-gradient(black, #474747);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: italic;
}

.logo-text2-2 {
    position: absolute;
    top: 2.5vw;
    left: 2.5vw;
    font-size: 1vw;
    background: -webkit-linear-gradient(black, #474747);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo-text3-2 {
    position: absolute;
    top: 0.2vw;
    left: 12.7vw;
    font-size: 2.5vw;
    background: -webkit-linear-gradient(orangered, #ff8300);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'hhhbold';
    display: flex;
    letter-spacing: -0.5vw;
    -webkit-text-stroke: 1px black;
}

#dot-2 {
    display: flex;
    font-family: 'the_donaldyuge';
    letter-spacing: 0.2vw;
    -webkit-text-stroke: 0.1px black;
    font-size: 1.2vw;
}

.footer1 {
    position: absolute;
    top: 5vw;
    left: 2.5vw;
    font-size: 1vw;
}

.footer2 {
    position: absolute;
    top: 6.5vw;
    left: 2.5vw;
    font-size: 1vw;
}

.footer3 {
    position: absolute;
    top: 8vw;
    left: 2.5vw;
    font-size: 1vw;
}

.footer4 {
    position: absolute;
    top: 9.5vw;
    left: 2.5vw;
    font-size: 1vw;
}

.footer5 {
    position: absolute;
    top: 11vw;
    left: 2.5vw;
    font-size: 1vw;
}

.hover:hover {
    text-decoration: underline;
}